<div class="home-container">
    <!-- Logout Button -->
    <button (click)="onLogout()">Logout</button>
  
    <h2>Welcome, To your Task Manager!</h2>
  
    <!-- New Task Form -->
    <div>
      <h3>Create Task</h3>
      <input [(ngModel)]="newTaskModel.title" placeholder="Title" />
      <input [(ngModel)]="newTaskModel.description" placeholder="Description" />
      <input [(ngModel)]="newTaskModel.dueDate" type="date" />
      <button (click)="createTask()">Add Task</button>
    </div>
  
    <h3>Your Tasks</h3>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.dueDate | date }}</td>
          <td>
            <button (click)="toggleStatus(task)">
              {{ task.completed ? 'Mark Incomplete' : 'Mark Complete' }}
            </button>
          </td>
          <td>
            <button (click)="editTask(task)" style="background-color: orange;">Edit</button>
            <button (click)="deleteTask(task.id)" style="background-color: red;">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="editTaskModel.id">
        <h3>Edit Task</h3>
        <input [(ngModel)]="editTaskModel.title" placeholder="Title" />
        <input [(ngModel)]="editTaskModel.description" placeholder="Description" />
        <input [(ngModel)]="editTaskModel.dueDate" type="date" />
        <button (click)="saveTask()">Save Changes</button>
      </div>
  </div>
  